<h2>Novo Galpão</h2>

<% if @warehouse.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @warehouse.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'form' %>
